{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
<h1 class="text-center">Snoodyks 3d Prints!</h1>
</head>
<body>
    <div style=  "display: flex; align-items: center; justify-content: center">
        <div>
          <img src="https://res.cloudinary.com/djvqvtu86/image/upload/v1711032369/Printed%20stuff/3d_Printer_u7n8gt.jpg" style="max-width: 100%; max-height:100%;">
        </div>
        <div>
          <p style="font-size: 18px; padding-left: 20px; padding-right: 20px">Hello and welcome to Snoodyk 3d Prints! This website was designed by myself to be able to share pictures and blog posts with other
            3d printer enthusiasts out there. I am hoping to have in the future a fully functioning image board for myself and others to be able to upload images of there work
            and leave comments on the images. I have a blog post where I talk about some fun facts about 3d printer types and about how great 3d printing is!<p>
        </div>
      </div>
</body>
{% endblock content %}